body {
	background-color: #e6e6e6;
	margin: 0 !important;
	font: 100% Verdana, Arial, Helvetica, sans-serif;
}

#wrapper {
	max-width: 1000px;
	width: 100%;
	height: auto;
	min-height: 800px;
	background-color: GhostWhite;
	margin: 0 auto;
}

.background-image {
	background-image: url(background-notes-fade.jpg);
}

.background-image-stretch {
	background-image: url(background-notes-stretch.jpg);
}

.background-image-stretch2 {
	background-image: url(background-notes-stretch2.jpg);
}

.background-image-stretch3 {
	background-image: url(background-notes-stretch3.jpg);
}

#header {
	background-color: #bfbfbf;
}

img.header_image {
	max-width: 100%;
    height: auto;
}

/* slideshow for header */
.slideshow {
	z-index: 2;
	}

#navbar {
	position: relative;
	height: auto;
	background-color: #6D98A0;
	border: solid 1px #e6e6e6;
}

#navbar ul {
	margin: 0;
	padding: 0;
	padding-top: 0.2em;
}

#navbar ul li {
	display: inline-block;
	list-style-type: none;
	vertical-align: middle;
	font-size: 1.25em;
	padding: 1% 3%;
}

#navbar a:link {
	text-decoration: none;
}

#navbar li:link  {background-color: #DEDEE3;}
#navbar li:visited  {background-color: #DEDEE3;}
#navbar li:hover  {background-color: #E3FAFF;}
#navbar li:active  {background-color: #FEB690;}

#content {
	min-height: 25em;
	padding: 1.5em;
	padding-top: 2.5em;
}

#footer {
	padding-top: 3em;
}

/* for photo gallery page */
#gallery-link {
	width: 65%;
	margin: auto;
	padding-top: 1em;
}

.gallery-message {
	font-family: 'Kaushan Script', cursive;
	color: #3c585d;
	font-size: 1.5em;
	margin: auto;
	text-align: center;
}

/* news page headings */
.news-heading {
	font-family: 'Kaushan Script', cursive;
	color: #3c585d;
	font-size: 1.8em;
}
/* end news page headings */

#content table tr th.gallery-message {
	font-family: 'Kaushan Script', cursive;
	color: #3c585d;
	font-size: 1.5em;
	margin: auto;
	text-align: center;
}

/* for schedule table */
#schedule {
	margin: auto;
	padding-top: 2em;
	border: none;
}

.form_label {
	vertical-align: top;
}

/* vertical align for email contact form */
.form_label_email {
	vertical-align: middle;
}

.schedule {
	border: none;
	background-color: #dddddd;
	padding: 1.2em;
	width: 15em;
}

/* for contact us page */

.phone_email {
	width: 70%;
	margin: auto;
	padding-top: 1em;
	padding-bottom: 1.5em;
}

.data-move-right {
	padding-left: 2em;
}

#form {
	width: 70%;
	height: 60%;
	margin: auto;
}

.message-table td {
	padding-top: .5em;
	padding-bottom: .5em;
}

#footer_div {
	padding-top: 4em;
	padding-bottom: 0;
	
}

#linksTable {
	margin: auto;
	font-size: 80%;
	width: 100%;
	background-color: #b2c9cd;
	padding: 1.5em;
	padding-left: 5em;
}

.footer_links {
	margin: auto;
}

/* Eddie's style rules for the News page */
/* to float the images and text correctly */
.float-right {
	float:right;
	padding-left:20px;
	padding-bottom:10px;
	clear:both;
	}
	
.float-left {
	float:left;
	padding-right:20px;
	padding-bottom:10px;
	}
		
.clr {
	clear:both;
	}
/* end of Eddie's style rules */

/* home page greeting styling */
.HomePageHeadline  {
	font-family: 'Kaushan Script', cursive;
	color: #3c585d;
	font-size: 3em;
	margin-top: 0;
	margin: auto;
	position: relative;
	padding: 0;
	text-align: center;
}
/* end home page greeting style */
/* home page piano image */
.home_piano {
	padding: 1em;
	width: 30%;
	min-width: 300px;
	float: left;
}
/* end home page piano image */
/* home page intro paragraph */
.HomePageIntroPara {
	/*padding-right: 1.5em;
	float: right;
	width: 55%;*/
}
/* end home page intro paragraph */
.clearBoth {
	clear: both;
}

/* JS font resize widget */
.access {
	color: #3c585d;
	line-height: 1.0em;
	padding-left: .5em;
	padding-right: .5em;
	position: static;
	text-align: right;
	left: 67%;
	font-size: .8em;
	z-index: 5;
}
	.access li {
		display: inline;
		padding-left: .6em;
		font-size: 1em;
	}
	.access li a {
		color: #3c585d;
		text-decoration: none;
	}
	.access li .small {
		font-size: .9em;
	}
	.access li .large {
		font-size: 1.4em;
	}
/* end js font resize widget */

/* contact page email fieldset line height */
.email-fieldset-line {
	line-height: 3.2em;
}

/* end contact page email fieldset line height */
